.logo {
    display: flex;
    align-items: center;
}

.logo__wrap-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .875rem;
}

.logo__wrap-text span {
    color: var(--black);
}

.logo__wrap-text strong {
    color: var(--green);
    font-size: 1rem;
    margin-top: -2px;
}

.logo > svg {
    margin-left: 10px;
}
